.form-control {
    width: auto;
}

.select {
    margin-left: -10%;
}

.links line {
    stroke: #999 !important;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.sidebar-brand {
    margin-bottom: 10%;
}

.sidebar-text {
    color: #dff0d8;
}

svg {
    background-color: #f9f9f9;
    margin: 0 auto;
    display: block;
}

#graph-div {
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 25px;
    border: 1px solid #999
}

body {
    background-color: #f9f9f9;
}

div.inline {
    float:left;
    border-style: solid;
    border-width: thin;
    margin-right: 40px;
}

h1{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

div.row{
    margin-top: 50px
}

.remove{
  color: red !important;
  display: inline !important;
  margin-left: -17%;
}

.list-group-item{
  padding: 0px;
}

.list-group{
  margin-top: 5%;
  max-width: 80%;
  margin-left: 5%;
}
